<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizcloud.memberdecoration.dao.memberpagetdk.MemberPageTdkMapper">
  <resultMap id="BaseResultMap" type="com.bizcloud.memberdecoration.modal.fitness.MemberPageTdk">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_page_id" jdbcType="BIGINT" property="memberPageId" />
    <result column="member_page_title" jdbcType="VARCHAR" property="memberPageTitle" />
    <result column="member_page_key" jdbcType="VARCHAR" property="memberPageKey" />
    <result column="member_page_description" jdbcType="VARCHAR" property="memberPageDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_page_id, member_page_title, member_page_key, member_page_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_page_tdk
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member_page_tdk
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
          parameterType="com.bizcloud.memberdecoration.modal.fitness.MemberPageTdk">
    replace into member_page_tdk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberPageId != null">
        member_page_id,
      </if>
      <if test="memberPageTitle != null">
        member_page_title,
      </if>
      <if test="memberPageKey != null">
        member_page_key,
      </if>
      <if test="memberPageDescription != null">
        member_page_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberPageId != null">
        #{memberPageId,jdbcType=BIGINT},
      </if>
      <if test="memberPageTitle != null">
        #{memberPageTitle,jdbcType=VARCHAR},
      </if>
      <if test="memberPageKey != null">
        #{memberPageKey,jdbcType=VARCHAR},
      </if>
      <if test="memberPageDescription != null">
        #{memberPageDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bizcloud.memberdecoration.modal.fitness.MemberPageTdk">
    update member_page_tdk
    <set>
      <if test="memberPageId != null">
        member_page_id = #{memberPageId,jdbcType=BIGINT},
      </if>
      <if test="memberPageTitle != null">
        member_page_title = #{memberPageTitle,jdbcType=VARCHAR},
      </if>
      <if test="memberPageKey != null">
        member_page_key = #{memberPageKey,jdbcType=VARCHAR},
      </if>
      <if test="memberPageDescription != null">
        member_page_description = #{memberPageDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByMemberPageId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_page_tdk
    where member_page_id = #{memberPageId,jdbcType=BIGINT}
  </select>

</mapper>